{
  "presets": [
    [
      "next/babel"
    ]
  ],
  "plugins": [
    [
      "emotion",
      {
        "autoLabel": true
      }
    ]
  ],
  "env": {
    "development": {
      "compact": false
    }
  }
}